body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    background-color: #a2d2ff;
    color: white;
}

#gift-img {
    border-radius: 25%;
    width: 200px;
    border: 5px solid #EFB0C9;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}


#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gift-age {
    background-color: #EFB0C9;
    padding: 6px 12px;
    border-radius: 10px;
    margin-bottom: 0;
}

#gift-date {
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.gift-section {
    margin-top: 50px;
}

.gift-cover {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border:5px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

.gift-greet {
    margin-bottom: 0;
}

.gift-hint {
    margin-top: 10px;
}